<canvas class='connecting-dots'></canvas>


<div class="prediction">
  <%= form_for(@prediction) do |f| %>
      <div class="field">
	    <%= f.hidden_field :topic, id: "topic" %>
	  </div>
	  <div class="field">
	    <%= f.text_area :description, autofocus: "true", rows: "3", id: "description"%>
	  </div>
	  <div class="actions mobile-only">
	    <%= f.submit "Submit Prediction", id: "submit-button" %>
	  </div>
	<% end %>
	<p class="instructions desktop-only">
		press [⌘ command] + [enter] to submit
	</p>
</div>


<script>
	newTopic("<%= @topics.sample %>");
	submit();
	canvasDots();
</script>