<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @prediction.topic %>
</p>

<p>
  <strong>Description:</strong>
  <%= @prediction.description %>
</p>

<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>
